@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");
:root {
  --color-primary: #191818;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4fc4cf;
}

html {
  font-size: 100%;
  background-color: #fffffe;
}
html li {
  list-style: none;
}
html a {
  text-decoration: none;
  color: #2e2e2e;
}
html body {
  width: 100%;
  color: #2e2e2e;
}

/* HEADER STYLE */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.85;
  width: 100%;
  height: 100px;
}
#header .header-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-contents .header-right ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
}
#header .header-contents .header-right ul li {
  padding: 0 7px;
}
#header .header-contents .header-right ul li a:hover {
  opacity: 1;
  color: #4fc4cf;
  font-size: 1.5rem;
  font-weight: bolder;
}

/* END HEADER STYLE */
/* MAIN STYLE */
#main {
  width: 100%;
  margin: 0 10px;
}
#main .section {
  width: 100%;
  margin: 100px auto;
}
#main .section-title {
  text-align: center;
  font-size: 1.75rem;
  font-family: fantasy;
}
#main #profile .profile-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main #profile .profile-contents .profile-img {
  width: calc(40% - 50px);
  padding-top: 20px;
}
#main #profile .profile-contents .profile-img img {
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 5px 8px 4px #ccc;
  width: 90%;
}
#main #profile .profile-contents .profile-img#fadein {
  opacity: 0;
  transform: translateX(50%);
  transition: all 2.5s ease;
}
#main #profile .profile-contents .profile-right .introduce {
  font-size: 2.2rem;
}
#main #profile .profile-contents .profile-right .introduce span.profile-name {
  display: inline-block;
  transition: all 1s ease;
  font-size: 2.5rem;
  font-family: "Rubik 80s Fade", cursive;
  color: #ef4565;
}
#main #profile .profile-contents .profile-right .introduce span.profile-name:hover {
  transform: translate(0, -30px) perspective(80px) rotateX(-35deg);
  color: #4fc4cf;
}
#main #profile .profile-contents .profile-right .introduce span.profile-name.onload {
  transform: translate(0, -30px) perspective(80px) rotateX(-35deg);
  color: #4fc4cf;
}
#main #profile .profile-contents .profile-right p {
  font-size: 1.75rem;
  font-family: fantasy;
}
#main #about {
  width: 50%;
}
#main #history {
  width: 50%;
}
#main #history .history-wrapper dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#main #history .history-wrapper dl dt, #main #history .history-wrapper dl dd {
  margin: 10px 0;
}
#main #history .history-wrapper dl dt {
  width: 30%;
}
#main #history .history-wrapper dl dd {
  width: 70%;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}
#main #work {
  width: 80%;
  margin: 0 auto;
}
#main #work .work-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px 20px;
  flex-wrap: wrap;
}
#main #work .work-wrapper .card {
  width: 25%;
  height: 150px;
  padding: 10px 20px;
  border: solid 1px #2e2e2e;
  border-radius: 10px;
}
#main #work .work-wrapper .card:hover {
  box-shadow: 5px 8px 15px 3px cadetblue;
}
#main #skill .skill-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#main #skill .skill-wrapper .skill-bar {
  width: 45%;
  margin-bottom: 30px;
}
#main #skill .skill-wrapper .skill-bar .skill-info {
  display: flex;
  justify-content: space-between;
}
#main #skill .skill-wrapper .skill-bar .skill-line {
  margin-top: 5px;
  position: relative;
  border: solid 2px #2e2e2e;
  border-radius: 5px;
  height: 7px;
  width: 100%;
}
#main #skill .skill-wrapper .skill-bar .skill-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  background-color: #4fc4cf;
}
#main #skill .skill-wrapper .skill-bar .skill-line.html::before {
  width: 80%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.javascript::before {
  width: 50%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.php::before {
  width: 80%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.laravel::before {
  width: 70%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.mysql::before {
  width: 60%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.wordpress::before {
  width: 50%;
}

/* END MAIN STYLE */
/* FOOTER STYLE */
#footer {
  color: #f2eef5;
  color: #2e2e2e;
  padding: 15px 30px 15px 0;
  text-align: right;
}

/* END FOOTER STYLE */
/* 
  RESPONSIVE STYLE 
 *//*# sourceMappingURL=style.css.map */