@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #4fc4cf;
}

html {
  font-size: 100%;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fffffe;
}
html li {
  list-style: none;
}
html a {
  text-decoration: none;
  color: #2e2e2e;
}
html body {
  width: 100%;
  color: #2e2e2e;
}

/* HEADER STYLE */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
}
#header .header-contents {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-contents .header-right .menu-btn {
  width: 50px;
  height: 50px;
  margin-right: 50px;
  position: relative;
  z-index: 20;
}
#header .header-contents .header-right .menu-btn:hover {
  cursor: pointer;
}
#header .header-contents .header-right .menu-btn span {
  width: 100%;
  position: absolute;
  border: solid 1px #2e2e2e;
  border-radius: 3px;
  transition: all 0.8s ease;
}
#header .header-contents .header-right .menu-btn span:first-child {
  top: 15px;
}
#header .header-contents .header-right .menu-btn span:last-child {
  top: 30px;
}
#header .header-contents .header-right .menu-btn.open span {
  border: solid 1px #f2eef5;
}
#header .header-contents .header-right .menu-btn.open span:first-child {
  transform: translateY(5px) rotate(-45deg);
}
#header .header-contents .header-right .menu-btn.open span:last-child {
  transform: translateY(-8px) rotate(45deg);
}
#header .header-contents .header-right #nav {
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.8s ease;
  opacity: 0;
}
#header .header-contents .header-right #nav.open {
  background-color: #2e2e2e;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 10;
}
#header .header-contents .header-right #nav.open ul li {
  padding: 30px;
  font-size: 1.5rem;
}
#header .header-contents .header-right #nav.open ul li a {
  color: white;
}
#header .header-contents .header-right #nav.open ul li a:hover {
  opacity: 1;
  color: #4fc4cf;
  font-size: 1.75rem;
  font-weight: bolder;
}

/* END HEADER STYLE */
/* MAIN STYLE */
#main {
  width: 100%;
  margin: 0 10px;
}
#main .section {
  width: 100%;
  margin: 100px auto;
  transform: tranlateY(50px);
  transition: all 1s ease;
}
#main .section.fade-in {
  opacity: 0;
}
#main .section.fade-in.scroll-in {
  opacity: 1;
  transform: translateY(0);
}
#main .section .section-title {
  text-align: center;
  font-size: 1.75rem;
  font-family: fantasy;
  font-style: italic;
  margin-bottom: 50px;
}
#main #profile .profile-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#main #profile .profile-contents .profile-img {
  width: calc(40% - 50px);
  padding-top: 20px;
}
#main #profile .profile-contents .profile-img img {
  border-radius: 5px;
  box-shadow: 0 5px 8px 4px #ccc;
  width: 90%;
}
#main #profile .profile-contents .profile-img#fadein {
  opacity: 0;
  transform: translateX(50%);
  transition: all 2.5s ease;
}
#main #profile .profile-contents .profile-right .introduce {
  font-size: 2.2rem;
}
#main #profile .profile-contents .profile-right .introduce span.profile-name {
  display: inline-block;
  transition: all 1s ease;
  font-size: 2.5rem;
  font-family: "Rubik 80s Fade", cursive;
  font-style: italic;
  color: #ef4565;
}
#main #profile .profile-contents .profile-right .introduce span.profile-name:hover {
  transform: translate(0, -30px) perspective(80px) rotateX(-35deg);
  color: #4fc4cf;
}
#main #profile .profile-contents .profile-right .introduce span.profile-name.onload {
  transform: translate(0, -30px) perspective(80px) rotateX(-35deg);
  color: #4fc4cf;
}
#main #profile .profile-contents .profile-right p {
  font-size: 1.75rem;
  font-family: fantasy;
}
#main #about {
  width: 50%;
  font-size: 1.1rem;
}
#main #about .about-p {
  width: 600px;
  margin: 0 auto;
}
#main #about .about-p p {
  position: relative;
}
#main #about .about-p p::before {
  content: "✔︎";
  color: #4fc4cf;
  position: absolute;
  top: 0;
  left: -5%;
}
#main #history {
  width: 80%;
  font-size: 1.1rem;
}
#main #history .history-wrapper {
  width: 100%;
  margin: 0 auto;
}
#main #history .history-wrapper dl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#main #history .history-wrapper dl dt, #main #history .history-wrapper dl dd {
  padding-bottom: 30px;
}
#main #history .history-wrapper dl dt {
  width: 35%;
  margin: 0 auto;
  box-sizing: border-box;
  display: inline-block;
  padding-left: 50px;
  font-family: "Rubik 80s Fade", cursive;
  font-style: italic;
}
#main #history .history-wrapper dl dd {
  position: relative;
  box-sizing: border-box;
  width: 65%;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  border-left: solid 2px #4fc4cf;
  padding-left: 150px;
}
#main #history .history-wrapper dl dd::before {
  content: "●";
  position: absolute;
  top: -5%;
  left: -9px;
  color: #4fc4cf;
}
#main #work {
  width: 80%;
  margin: 0 auto;
}
#main #work .work-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px 20px;
  flex-wrap: wrap;
}
#main #work .work-wrapper .card {
  width: 25%;
  height: 150px;
  padding: 10px 20px;
  border: solid 1px #2e2e2e;
  border-radius: 10px;
}
#main #work .work-wrapper .card:hover {
  box-shadow: 5px 8px 15px 3px cadetblue;
}
#main #skill .skill-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
#main #skill .skill-wrapper .skill-bar {
  width: 45%;
  margin-bottom: 30px;
}
#main #skill .skill-wrapper .skill-bar .skill-info {
  display: flex;
  justify-content: space-between;
}
#main #skill .skill-wrapper .skill-bar .skill-line {
  margin-top: 5px;
  position: relative;
  border: solid 2px #2e2e2e;
  border-radius: 5px;
  height: 7px;
  width: 100%;
}
#main #skill .skill-wrapper .skill-bar .skill-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 7px;
  background-color: #4fc4cf;
}
#main #skill .skill-wrapper .skill-bar .skill-line.html::before {
  width: 80%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.javascript::before {
  width: 50%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.php::before {
  width: 80%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.laravel::before {
  width: 70%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.mysql::before {
  width: 60%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.wordpress::before {
  width: 50%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.linux::before {
  width: 50%;
}
#main #skill .skill-wrapper .skill-bar .skill-line.git::before {
  width: 55%;
}
#main #contact {
  width: 50%;
  margin: 0 auto;
}
#main #contact .contact-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main #contact .contact-wrapper a i {
  font-size: 50px;
}
#main #contact .contact-wrapper a i:hover {
  font-weight: bold;
}
#main #thanks {
  margin-top: 150px;
}
#main #thanks .thanks-wrapper {
  text-align: center;
}
#main #thanks .thanks-wrapper p {
  font-size: 2.25rem;
  font-weight: bold;
  font-style: italic;
}

/* END MAIN STYLE */
/* FOOTER STYLE */
#footer {
  margin-top: 100px;
  color: #f2eef5;
  color: #2e2e2e;
  padding: 15px 30px 15px 0;
  text-align: right;
}

/* END FOOTER STYLE */
/* 
  RESPONSIVE STYLE 
 */
@media screen and (max-width: 1280px) {
  #main {
    margin: 0 auto;
  }
  #main #profile {
    width: 90%;
    margin: 50px auto 100px;
  }
  #main #profile .profile-contents {
    justify-content: space-between;
    gap: 20px;
  }
  #main #profile .profile-contents .profile-right .introduce span.profile-name {
    font-family: "Work Sans", sans-serif;
  }
  #main #about {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #main #about .about-p {
    width: 100%;
  }
  #main #history {
    width: 100%;
  }
  #main #history .history-wrapper {
    width: 80%;
    margin: 0 auto;
  }
  #main #history .history-wrapper dl dt {
    width: 40%;
    font-family: "Work Sans", sans-serif;
  }
  #main #history .history-wrapper dl dd {
    width: 60%;
  }
  #main #work .work-wrapper .card:active {
    box-shadow: 5px 8px 15px 3px cadetblue;
  }
}
@media screen and (max-width: 768px) {
  #header {
    height: 80px;
  }
  #main {
    margin: 0 auto;
  }
  #main .section {
    margin: 50px auto;
  }
  #main .section-title {
    margin-top: 80px;
  }
  #main #profile {
    width: 100%;
    margin: 70px auto 0;
  }
  #main #profile .profile-contents {
    flex-direction: column;
    gap: 5px;
  }
  #main #profile .profile-contents .profile-img {
    width: calc(70% - 50px);
    margin-bottom: 30px;
  }
  #main #profile .profile-contents .profile-img img {
    width: 100%;
  }
  #main #profile .profile-contents .profile-right {
    width: 80%;
    margin: 0 auto;
  }
  #main #profile .profile-contents .profile-right .introduce {
    width: calc(90% - 10px);
    font-size: 1.8rem;
  }
  #main #profile .profile-contents .profile-right .introduce span.profile-name {
    font-family: "Work Sans", sans-serif;
    font-size: 2.2rem;
    padding: 5px 0;
  }
  #main #profile .profile-contents .profile-right p {
    font-style: oblique;
  }
  #main #about {
    width: 100%;
  }
  #main #about .about-p {
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  #main #about .about-p p::before {
    left: -6%;
  }
  #main #history {
    width: 100%;
  }
  #main #history .history-wrapper dl {
    flex-direction: column;
  }
  #main #history .history-wrapper dl dt, #main #history .history-wrapper dl dd {
    width: 100%;
    padding-left: 20px;
  }
  #main #history .history-wrapper dl dt {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-left: solid 2px #4fc4cf;
    font-family: "Work Sans", sans-serif;
  }
  #main #history .history-wrapper dl dt::before {
    content: "●";
    position: absolute;
    top: -2px;
    left: -11px;
    color: #4fc4cf;
  }
  #main #history .history-wrapper dl dd:last-child {
    padding-bottom: 15px;
  }
  #main #history .history-wrapper dl dd::before {
    display: none;
  }
  #main #work {
    width: 100%;
  }
  #main #work .work-wrapper {
    flex-direction: column;
  }
  #main #work .work-wrapper .card {
    width: 50%;
  }
  #main #skill {
    width: 100%;
  }
  #main #skill .skill-wrapper {
    width: 100%;
    flex-direction: column;
  }
  #main #skill .skill-wrapper .skill-bar {
    width: 80%;
  }
  #main #contact {
    width: 80%;
  }
  #main #thanks {
    margin-top: 100px;
  }
  #main #thanks .thanks-wrapper {
    text-align: center;
  }
  #main #thanks .thanks-wrapper p {
    font-size: 1.8rem;
    font-weight: bold;
    font-style: italic;
  }
}/*# sourceMappingURL=style.css.map */