// @import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');

$background: #fffffe;
$background2: #D2EFF0;
$text: #2e2e2e;
$highlight: #4fc4cf;
// $highlight: cadetblue;
$buttonText: #181818;
$purple: #994ff3;
$primary: #f2eef5;

:root {
  --color-primary: #191818;
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
// ::-webkit-scrollbar-track {
//   background-color: transparent;
// }
::-webkit-scrollbar-thumb {
  background-color: $highlight;
}

// main {
//   color: var(--color-primary);
// }

html {
  // font-family: 'DynaPuff', cursive;
  font-size: 100%;
  background-color: $background;

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: $text;
  }

  body {
    width: 100%;
    color: $text;
  }
}


/* HEADER STYLE */
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.85;
  width: 100%;
  height: 100px;

  & .header-contents {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .header-right ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 30px;

      li {
        padding: 0 7px;

        & a:hover {
          opacity: 1;
          color: $highlight;
          font-size: 1.5rem;
          font-weight: bolder;
        }
      }
    }
  }
}
/* END HEADER STYLE */



/* MAIN STYLE */
#main {
  width: 100%;
  margin: 0 10px;
  // padding-top: 10px;

  .section {
    width: 100%;
    margin: 100px auto;
  }

  .section-title {
    text-align: center;
    font-size: 1.75rem;
    font-family: fantasy;
  }

  // PROFILE SECTION
  #profile {
    & .profile-contents {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      & .profile-img {
        width: calc(40% - 50px);
        padding-top: 20px;
        img {
          border-radius: 5px;
          // width: 100%;
          box-shadow: 0 5px 8px 4px #ccc;
          width: 90%;
        }

        &#fadein {
          opacity: 0;
          transform: translateX(50%);
          transition: all 2.5s ease;
        }
      }

      & .profile-right {
        & .introduce {
          font-size: 2.2rem;
          span.profile-name {
            display: inline-block;
            transition: all 1s ease;
            font-size: 2.5rem;
            font-family: 'Rubik 80s Fade', cursive;
            color: #ef4565;
            // color: #ff5470;
            &:hover {
              // transform: translate(30px, -10px);
              // transform: rotateY(360deg);
              transform: translate(0, -30px) perspective(80px)  rotateX(-35deg);
              color: $highlight;
            }
            &.onload {
              transform: translate(0, -30px) perspective(80px)  rotateX(-35deg);
              color: $highlight;
            }
          }
        } 
        & p {
          font-size: 1.75rem;
          font-family: fantasy;
        }
      }
    }
  }

  // ABOUT SECTION
  #about {
    width: 50%;
    // margin: 100px auto;
  }

  // HISTORY SECTION
  #history {
    width: 50%;
    // margin: 0 auto;
    & .history-wrapper {
      dl {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        dt, dd {
          margin: 10px 0;
        }
        dt {
          width: 30%;
        }
        dd {
          width: 70%;
          margin-inline-start: 0;
        }
      }
    }
  }

  // WORK SECTION
  #work {
    width: 80%;
    margin: 0 auto;
    & .work-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px 20px;
      flex-wrap: wrap;
      // align-content: first baseline;
      
      & .card {
        // text-align: center;
        width: 25%;
        height: 150px;
        padding: 10px 20px;
        border: solid 1px $text;
        border-radius: 10px;

        &:hover {
          box-shadow: 5px 8px 15px 3px cadetblue;
          // box-shadow: 5px 8px 15px 3px $highlight;
        }
      }
    }
  }

  // SKILL SECTION
  #skill {
    & .skill-wrapper {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // gap: 20px 20px;
      flex-wrap: wrap;

      & .skill-bar {
        // box-sizing: border-box;
        width: 45%;
        margin-bottom: 30px;

        & .skill-info {
          display: flex;
          justify-content: space-between;
        }
        
        & .skill-line {
          margin-top: 5px;
          position: relative;
          // background-color: gray;
          border: solid 2px $text;
          border-radius: 5px;
          height: 7px;
          width: 100%;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 7px;
            background-color: $highlight;
          }
          &.html::before {
            width: 80%;
          }
          &.javascript::before {
            width: 50%;
          }
          &.php::before {
            width: 80%;
          }
          &.laravel::before {
            width: 70%;
          }
          &.mysql::before {
            width: 60%;
          }
          &.wordpress::before {
            width: 50%;
          }
        }
      }
    }
  }

  // CONTACT SECTION
  #contact {
    width: 50%;
    margin: 0 auto;
    .contact-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & a {
        & i {
          // width: 200px;
          font-size: 50px;
        }
      }
    }
  }
}
/* END MAIN STYLE */



/* FOOTER STYLE */
#footer {
  // background-color: $text;
  // background-color: $primary;
  margin-top: 100px;
  color: $primary;
  color: $text;
  padding: 15px 30px 15px 0;
  text-align: right;
  // height: 100px;
}
/* END FOOTER STYLE */



/* 
  RESPONSIVE STYLE 
 */
@media screen and (max-width:1280px) {
  #main {
    margin: 0 auto;

    #profile {
      width: 90%;
      margin: 50px auto 100px;
      .profile-contents {
        justify-content: space-between;
        gap: 20px;
      }
    }

    #about {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      & .about-p {
        width: 100%;
      }
    }

    #history {
      width: 100%;
      & .history-wrapper {
        width: 80%;
        margin: 0 auto;

        dl {
          dt {
            width: 40%;
          }
          dd {
            width: 60%;
          }
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  #main {
    margin: 0 auto;

    .section {
      margin: 50px auto;
    }

    #profile {
      width: 100%;
      margin: 100px auto 0;
      & .profile-contents {
        flex-direction: column;

        & .profile-img {
          width: calc(80% - 50px);
          margin-bottom: 30px;
          img {
            width: 100%;
          }
        }
      }

      & .profile-right {
        width: 80%;
        margin: 0 auto;
      }
    }

    #about {
      width: 100%;
      & .about-p {
        width: 80%;
        margin: 0 auto;
      }
    }

    #history {
      width: 100%;
      & .history-wrapper {
        width: 80%;
        margin: 0 auto;
      }
    }

    #work {
      width: 100%;
      & .work-wrapper {
        flex-direction: column;
        & .card {
          width: 50%;
        }
      }
    }

    #skill {
      width: 100%;
      & .skill-wrapper {
        width: 100%;
        flex-direction: column;

        & .skill-bar {
          width: 80%;
        }
      }
    }

    #contact {
      width: 80%;
    }
  }
}
