:root {
  --color-primary: #191818;
}

$background: #fffffe;
$background2: #D2EFF0;
$text: #2e2e2e;
$highlight: #4fc4cf;
$buttonText: #181818;
$purple: #994ff3;
$primary: #f2eef5;

// main {
//   color: var(--color-primary);
// }

html {
  font-size: 100%;
  background-color: $background;

  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: $text;
  }

  body {
    width: 100%;
    color: $text;
  }
}


/* HEADER STYLE */
#header {
  z-index: 1;
  opacity: 0.85;
  // margin-bottom: 100px;

  & .header-contents {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 100px;

    & .header-right ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-right: 30px;

      li {
        padding: 0 7px;

        & a:hover {
          opacity: 1;
          color: $highlight;
          font-size: 1.5rem;
          font-weight: bolder;
        }
      }
    }
  }
}
/* END HEADER STYLE */



/* MAIN STYLE */
#main {
  width: 100%;
  margin: 100px 10px;

  .section {
    width: 100%;
    margin: 100px auto;
  }

  .section-title {
    text-align: center;
    font-size: 1.75rem;
    font-family: fantasy;
  }

  // PROFILE SECTION
  #profile {
    & .profile-contents {
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      & .profile-img {
        width: calc(40% - 50px);
        img {
          border-radius: 5px;
          width: 100%;
          box-shadow: 0 5px 8px 4px #ccc;
          width: 90%;
        }

        &#fadein {
          opacity: 0;
          transform: translateX(50%);
          transition: all 2.5s ease;
        }
      }

      & .profile-right {
        & .introduce {
          font-size: 2.2rem;
          span.profile-name {
            display: inline-block;
            transition: all 1s ease;
            &:hover {
              // transform: translate(30px, -10px);
              // transform: rotateY(360deg);
              transform: translate(0, -30px) perspective(80px)  rotateX(-35deg);
              color: $highlight;
            }
            &.onload {
              transform: translate(0, -30px) perspective(80px)  rotateX(-35deg);
              color: $highlight;
            }
          }
        } 
        & p {
          font-size: 1.75rem;
          font-family: fantasy;
        }
      }
    }
  }

  // ABOUT SECTION
  #about {
    width: 50%;
    // margin: 100px auto;
  }

  // HISTORY SECTION
  #history {
    width: 50%;
    // margin: 0 auto;
    & .history-wrapper {
      dl {
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        dt, dd {
          margin: 10px 0;
        }
        dt {
          width: 30%;
        }
        dd {
          width: 70%;
          margin-inline-start: 0;
        }
      }
    }
  }

  // WORK SECTION
  #work {

  }

  // SKILL SECTION
  #skill {

  }
}
/* END MAIN STYLE */



/* FOOTER STYLE */
#footer {
  // background-color: $text;
  // background-color: $primary;
  color: $primary;
  color: $text;
  padding: 15px 30px 15px 0;
  text-align: right;
  // height: 100px;
}

/* END FOOTER STYLE */



/* 
  RESPONSIVE STYLE 
 */